/EFI_AFTER/*/EFI/.*
/EFI_AFTER/*/EFI/CLOVER/.*
/EFI_AFTER/*/EFI/CLOVER/ACPI/.*
/EFI_AFTER/*/EFI/CLOVER/ACPI/origin/
/EFI_AFTER/*/EFI/CLOVER/ACPI/patched/.*
/EFI_AFTER/*/EFI/CLOVER/doc/.*
/EFI_AFTER/*/EFI/CLOVER/drivers64UEFI/.*
/EFI_AFTER/*/EFI/CLOVER/kexts/.*
/EFI_AFTER/*/EFI/CLOVER/kexts/Other/.*
/EFI_AFTER/*/EFI/CLOVER/kexts/Other/**/.*
/EFI_AFTER/*/EFI/CLOVER/OEM/.*
/EFI_AFTER/*/EFI/CLOVER/OEM/SystemProductName/.*
/EFI_AFTER/*/EFI/CLOVER/OEM/SystemProductName/UEFI/.*
/EFI_AFTER/*/EFI/CLOVER/themes/.*
/EFI_AFTER/*/EFI/CLOVER/themes/Asus/.*
/EFI_AFTER/*/EFI/CLOVER/themes/Asus/icons/.*
/EFI_AFTER/*/EFI/CLOVER/themes/Asus/options_anim/.*
/EFI_AFTER/*/EFI/CLOVER/themes/embedded/.*
/EFI_AFTER/*/EFI/CLOVER/tools/.*
/EFI_AFTER/*/LE/.*
/EFI_AFTER/*/LE/CodecCommander.kext/.*
/EFI_AFTER/*/LE/CodecCommander.kext/Contents/.*
/EFI_AFTER/*/LE/CodecCommander.kext/Contents/MacOS/.*

*.DS_Store